<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section
      name="hibernate-configuration"
      type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" 
      requirePermission="false" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.connection_string">Server=(local);initial catalog=Hibernate;Integrated Security=true</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <mapping assembly="Hibernate.Sample.Test.Domain"/>
    </session-factory>
  </hibernate-configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>